{% extends "pics/base.html" %} {% load crispy_forms_tags %} {% block content %}

<section class="">
  <div class="container-lg">
    <div class="row">
      <div class="col-md-7 py-5 pe-2">
        {% if messages %} {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %} {% endif %} {% comment %} {% endcomment %}
        <div class="">
          <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
              <legend class="border-bottom mb-4">Reset Password</legend>
              {{ form|crispy }}
            </fieldset>
            <div class="form-group">
              <button class="btn btn-dark" type="submit">Reset Password</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-5 py-4 ps-md-5 d-none d-md-block">
        <div class="sticky-md-top">
          <!-- 1 -->
          <div class="mt-4"></div>

          <!-- 2 -->
          <div class="mt-4"></div>
          <!-- 3 -->
          <div class="mt-4"></div>
          <!-- 4 -->

          <div class="mt-4"></div>
          <!-- 5 -->

          <div class="mt-4"></div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
